<nav class="nav-wrapper">
    <a (click)="closeMenuIfIsOpen()" (click)="navigateTo('')">
        <img src="../../../../assets/images/landing page/logo-apoio-ecocrise.svg" alt="Logo do Apoio Ecocrise"
            class="apoio-logo" id="apoio-logo">
    </a>
    <div class="hamburger-menu" (click)="toggleMenu()">&#9776;</div>
    <ul id="nav-list-of-header-items" class="nav-list-of-header-items right hide-on-med-and-down">
        <li><a routerLink="/" class="item-header" (click)="closeMenuIfIsOpen()" (click)="navigateTo('')">Home</a></li>
        <li><a href="#sobre" class="item-header" (click)="closeMenuIfIsOpen()">Sobre Nós</a></li>
        <li><a  class="item-header" (click)="closeMenuIfIsOpen()" (click)="openRegisterOnAlertServicesModal()">Alerta e Evacuação</a></li>
        <li><a  routerLink="/apoio" class="item-header" (click)="closeMenuIfIsOpen()" (click)="navigateTo('/apoio')">Apoio Psicologico</a></li>
        <li><a  routerLink="/blog" class="item-header" (click)="closeMenuIfIsOpen()" (click)="navigateTo('/blog')">Blog</a></li>
        <li><a  class="item-header" (click)="closeMenuIfIsOpen()" (click)="openContactModal()">Contato</a></li>
        <button class="btn-volunteer-auth" (click)="closeMenuIfIsOpen()" (click)="navigateTo('login')">Voluntarios</button>
    </ul>
</nav>
