<div class="first-section-wrapper">
    <div class="first-section-row">
        <div class="first-section-col">
            <h1 class="first-section-title">Apoio EcoCrise: Segurança e Apoio em Tempos de Crise</h1>
            <p class="first-section-text">Nosso compromisso é proteger você e sua comunidade das crises climáticas, oferecendo um
                sistema completo
                e gratuito para alertas e suporte em situações de enchentes, queimadas e outros desastres naturais.
                Além disso, proporcionamos acolhimento psicológico e recursos valiosos para momentos de crise.</p>
            <button class="btn-first-section-help" (click)="navigateTo('apoio')">
                Precisa de Apoio?
            </button>
        </div>
        <div class="first-section-image-wrapper">
            <img src=".../../../../../../assets/images/landing page/you_are_not_alone.svg" alt="Apoio EcoCrise"
                class="first-section-image">
        </div>
    </div>
</div>