<div class="how-you-feels-wrapper">

    <h1 class="how-you-feels-tittle"> Como você está se sentindo? </h1>

    <div>
        <a (click)="coppyNumberCall()"><img class="call-image" src="../../../../assets/images/landing page/call-188.svg" alt="Numero para ligação"></a>
        <a (click)="openChatBot()"><img class="chat-image" src="../../../../assets/images/landing page/chat.svg" alt="Abra um chat"></a>
        <a (click)="openScheduleSupportModal()"><img class="schedule-image" src="../../../../assets/images/landing page/schedule.svg" alt="Marque um acolhimento online"></a>
    </div>
    
    <app-chat-bot-modal [isOpen]="isChatBotOpen"></app-chat-bot-modal>
</div>
