@font-face {
    font-family: "Inter-Bold";
    src: url("../../../../assets/fonts/Inter-Bold.ttf") format("truetype");
}

.how-you-feels-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 5%;
    background-color: #007AC7;
}

.how-you-feels-tittle {
    font-size: 2.25rem;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Inter-Bold';
}

.how-you-feels-wrapper div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 70px;
}

.call-image {
    position: relative;
    top: 100px;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }

}

.chat-image {
    position: relative;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}

.schedule-image {
    position: relative;
    top: 100px;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }

}