@font-face {
    font-family: "Inter-Bold";
    src: url("../../../../assets/fonts/Inter-Bold.ttf") format("truetype");
}

.how-you-feels-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 5%;
    background-color: #007AC7;
}

.how-you-feels-tittle {
    font-size: 2.25rem;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Inter-Bold';
}

.how-you-feels-wrapper div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 40rem;
    margin-top: 0px;
}

.call-image {
    position: relative;
    top: 100px;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }

}

.chat-image {
    position: relative;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}

.schedule-image {
    position: relative;
    top: 100px;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }

}

@media (max-width: 1000px) {

    .schedule-image {
        width: 80%;
    }

    .call-image {
        width: 80%;
    }

    .chat-image {
        width: 80%;
    }
}


@media (max-width: 768px) {

    .how-you-feels-wrapper {
        padding: 0% 0% 25% 0%;
    }

    .how-you-feels-wrapper div {
        flex-direction: column;
        gap: 40px;
        height: 35rem;
    }

    .schedule-image {
        top: 0px;
    }

    .call-image {
        top: 0px;
    }

}

@media (max-width: 400px) {

    .how-you-feels-wrapper {
        padding: 0% 0% 25% 0%;
    }

    .how-you-feels-wrapper div {
        align-items: center;
        align-items: center;
    }

    .schedule-image {
        width: 70%;
    }

    .call-image {
        width: 70%;
    }

    .chat-image {
        width: 70%;
    }
}