<div class="fifth-section-content-wrapper">
    <h1 class="fifth-section-tittle">Sobre a EcoCrise</h1>

    <div class="item-content-wrapper">

        <div>
            <p>
                A Apoio EcoCrise é uma ONG dedicada a oferecer soluções tecnológicas gratuitas para enfrentar crises
                climáticas
                e desastres naturais, com trabalho Pré e Pós Desastre.
            </p>
            <br>
            <p>
                Trabalhamos em colaboração com serviços públicos, empresas e voluntários para fornecer um suporte abrangente
                e eficaz.
            </p>
        </div>

        <img src="../../../../assets/images/landing page/helping.svg" alt="Mulher ajudando outra pessoa">
    </div>

</div>