<div class="third-section-wrapper">
    <h1 class="third-section-tittle">O que você precisa?</h1>

    <div class="third-section-content-wrapper">
        <div class="item-content-wrapper">
            <img src="../../../../assets/images/landing page/woman_comforting_crying.svg" alt="Mulher conforntando pessoa">
            <div class="easy-modal-wrapper">
                <p>Após um desastre, estamos aqui para ajudar você a lidar com as consequências emocionais e práticas.
                    Com apoio oferece acesso a sessões de acolhimento e um chat 24/7 </p>
                <button class="btn-third-section-help" (click)="navigateTo('apoio')">
                    Precisa de Apoio?
                </button>
            </div>
        </div>
        <div class="item-content-wrapper">
            <img src="../../../../assets/images/landing page/alerting_to_get_out.svg" alt="Alerta de perigo">
            <div class="easy-modal-wrapper">
                <p>Nosso sistema de alerta e evacuação foi desenvolvido para manter você informado e seguro.
                    Ao se cadastrar, você receberá atualizações sobre riscos</p>
                <button class="btn-third-section-help" (click)="openRegisterOnAlertServicesModal()">
                    Inscreva-se! é simples
                </button>
            </div>
        </div>
    </div>
</div>
