<div class="second-section-support-you-wrapper">

    <div class="second-section-support-content" >
        <h1 class="second-section-support-you-tittle">
            Como Funciona?
        </h1>
        <p>
            Após um desastre, é fundamental ter acesso a suporte emocional e
            psicológico para enfrentar os desafios.
            Nosso programa de acolhimento oferece ajuda gratuita e acessível
            para todos que precisam de apoio durante momentos difíceis.
        </p>
        <span>
            Nos apoiamos com:
        </span>
        <p>
            <span>Sessões de Acolhimento:</span> Encontre e agende sessões com profissionais e voluntários qualificados.
        </p>

        <p>
            <span>Chat 24 Horas com IA:</span> Converse com nosso assistente virtual para suporte imediato e contínuo.
        </p>

        <p>
            <span>Recursos Educativos:</span> Acesse artigos, vídeos e orientações para ajudar na recuperação emocional.
        </p>
    </div>

    <img src="../../../../assets/images/landing page/24-7.svg" alt="Pessoas trabalhando 24 horas por 7 dias">
</div>
