<footer class="footer">
    <div class="footer-container">


        <div class="footer-section footer-contact">
            <h3>Contato:</h3>
            <p><strong>Endereço:</strong> Itapetinga</p>
            <p><strong>Telefone:</strong> 77 99999-9999</p>
            <p><strong>E-mail:</strong>  contato&#64;ApoioEcoCrise.com.br</p>
        </div>

        <div class="footer-section footer-links">
            <h3>Links Rápidos:</h3>
            <ul>
                <li><a href="https://docs.google.com/document/d/13rzpSnToU0zsrDQwUIirxy4x7jZZtE2b6v8mqt5OU1A/edit?usp=sharing" target="_blank">Termos de Uso</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </div>

        <div class="footer-section footer-social">
            <h3>Setor Publico:</h3>
            <ul>
                <li><a (click)="openContactModal()"><i class="fab fa-facebook" ></i> Experimente o ApoioEcoCrise Agora!</a></li>
                <li><a (click)="openContactModal()"><i class="fab fa-instagram"></i> Agendar Demonstração de Integração</a></li>
                <li><a (click)="openContactModal()"><i class="fab fa-youtube"></i> Agende uma Visita</a></li>
                <li><a (click)="openContactModal()"><i class="fab fa-linkedin"></i> Fale com um Voluntario</a></li>
            </ul>
        </div>


    </div>

    <div class="footer-copyright">
        <p>&copy; 2024 BaianDevs. Todos os direitos reservados.</p>
    </div>
</footer>