<div class="second-section-wrapper">
    <div class="second-section-row">
        <div class="second-section-col">
            <h1 class="second-section-title">Como <span>Funciona?</span></h1>
            <div class="simple-item-wrapper-container">
                <div class="simple-item-wrapper">
                    <img src=".../../../../../../assets/images/landing page/register_monitoring.svg" alt="Apoio EcoCrise"
                        class="simple-item-image">
                    <div class="simple-item-text-wrapper">
                        <h3 class="simple-item-title">Cadastro e Monitoramento</h3>
                        <p class="simple-item-text">Inscreva-se no nosso site e forneça informações sobre sua localização para receber alertas personalizados.</p>
                    </div>
                </div>
                <div class="simple-item-wrapper">
                    <img src=".../../../../../../assets/images/landing page/alert_in_real_time.svg" alt="Apoio EcoCrise"
                        class="simple-item-image">
                    <div class="simple-item-text-wrapper">
                        <h3 class="simple-item-title">Alertas em Tempo Real</h3>
                        <p class="simple-item-text">Receba notificações por e-mail, SMS e WhatsApp sobre riscos e instruções de segurança.</p>
                    </div>
                </div>
                <div class="simple-item-wrapper">
                    <img src=".../../../../../../assets/images/landing page/help.svg" alt="Apoio EcoCrise"
                        class="simple-item-image">
                    <div class="simple-item-text-wrapper">
                        <h3 class="simple-item-title">Apoio Pós-Desastre</h3>
                        <p class="simple-item-text">Utilize nosso sistema de acolhimento psicológico e chat 24 horas para suporte durante e após a crise.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="second-section-image-wrapper">
            <img src=".../../../../../../assets/images/landing page/24-7.svg" alt="Apoio EcoCrise"
                class="second-section-image">
        </div>
    </div>
</div>