<div class="join-us-section">

    <div class="be-volunteer-section">

        <img src="../../../../assets/images/landing page/volunteers.svg" alt="Pessoa se voluntariando">

        <div class="be-volunteer-content">
            <h1 class="join-us-tittle">Junte-se a Nós como voluntario(a)!</h1>
            <p>
                Você quer fazer a diferença na vida de pessoas afetadas por desastres climáticos?
                 Junte-se a nós como voluntário e contribua com seu tempo e habilidades para ajudar comunidades em momentos de crise.
            </p>
            <button class="btn-be-volunteer">
                Quero Ser Voluntario
            </button>
        </div>


    </div>

    <div class="give-a-donation-section">

        <div class="give-a-donation-content">
            <h1 class="give-a-donation-tittle">Faça uma doação</h1>
            <p>Sua contribuição nos ajuda a salvar vidas e fornecer suporte crucial em tempos de crise.
                 Cada doação é essencial para manter nossos serviços gratuitos e disponíveis para todos.
            </p>
            <button class="btn-give-donation">
                Quero Doar
            </button>
        </div>

        <img src="../../../../assets/images/landing page/donations.svg" alt="Pessoa doando">
    </div>

</div>
